.dialog {
  position: fixed;
  z-index: 50;
  touch-action: none;
}

.dialog.fullscreen {
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  width: 100dvw;
  height: calc(100dvh - 50px);
  z-index: 100;
}

.dialog-content {
  /* background-color: white; */
  /* border: 1px solid #ccc; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.content-dialog {
  padding: 16px;
  height: calc(100% - 40px);
}

.fullscreen-dialog {
  width: 100% !important;
  height: 100% !important;
}

