.content-dialog-browser {
  height: calc(100% - 40px);
}

@keyframes loading {
  0% { width: 0; }
  50% { width: 70%; }
  100% { width: 100%; }
}

.animate-loading-bar {
  animation: loading 1s ease-in-out infinite;
}